.DS_Store
.idea
*.iml
*.ipr
*.log
.sbtserver*
sbt-ui.sbt
classes/
target/
logs/
sbt-launch.jar
project/project/
project/target/
newrelic/
/bin/
.cache-main
.cache-tests
.classpath
.project
.settings/
.bloop/
.metals/
.vscode/
project/.bloop/
node_modules/
service.log
access.log
